.d_cards {
  display: flex;
}

.d_card {
  background-color: #fff;
  max-height: 150px;
  max-width: 150px;
  padding: 20px 10px 40px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.d_card p {
  padding-top: 10px;
}

.d_card:hover {
  background-color: #00ac9f;
  color: #fff;
}
